[alias]
	s = status
	co = checkout
	ps = push
	psf = push --force
	psu = push -u origin HEAD
	psfu = push -u origin HEAD --force
	pl = pull
	cm = commit -m
	cmn = commit --no-verify -m
	cma = commit -am
	aa = add --all
	rehard = reset --hard HEAD~1
	resoft = reset --soft HEAD~1
	spush = stash push
	spop = stash pop
	sdrop = stash drop
	sl = stash list

[core]
	editor = nvim

[user]
	name = Roberto Albanesi
	email = beto0607@gmail.com

[init]
	defaultBranch = main

[maintenance]
    auto = false
    strategy = incremental
	repo = /home/beto0607/Bannerflow/Studio

[includeIf "gitdir:~/Bannerflow/"]
    path = ~/Bannerflow/.gitconfig
